.user-details-container{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    width:300px;
    height: 1060px;
    padding: 20px 20px 20.01px 20px;
    border-radius: 10px;
    margin-left: 10px;

}
.content-circle-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.content-circle{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height:50px;
    width:60px;
    background-color: #EEF0F5;
    border-radius:50%;
    border: 1px solid #4C62921A;
    
}
.circle-text{
font-family: Inter;
font-size:20px;
font-weight: 700;
text-align: center;
color: #4C6292;

}
.circle-column-container{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.circle-heading{
font-family: Inter;
font-size: 24px;
font-weight: 700;
color: #0F1729;
padding-bottom: 0;
margin-bottom: 0;
}
.flex-row{
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}
.circle-para{
font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 21px;
color: #676B89;
text-align: left;
padding: 0;
margin: 0;
padding-right: 10px;
}

.user-name-ul-container{
    display: flex;
    flex-direction: column;
    width:290px;
    padding:0;
    border-radius: 12px;
    border: 1px 0px 0px 0px;
    list-style: none;
    width:100%;
    margin: 0px;
    background-color: #bbcff91a;
    margin-top: 20px;
}
.margin-top{
    margin-top: 40px;
}

.user-list-item{
    display: flex;
    align-items: center;
    width: Fill (370px)px;
    height:28px;
    justify-content: space-between;
    margin-right: 10px;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 0;
}
.content-user-name{
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: #676B89;
    
}
.content-user-value{
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    text-align: right;
    
    color: #0F1729;
    
}
.line{
    border: 1px solid #44486D1A;
    width:270px;
    margin: 0;
    padding: 0;
    margin-right: 20px;
    margin-top: 10px;
}
.add-user-container{
display: flex;
align-items: center;
justify-content:center;
width:300px;
height:50px;
padding:0;
border-radius: 10px 0px 0px 0px;
border: 1px 0px 0px 0px;
background-color:#4C629233;
border:solid #4C629233;
margin: 0;
margin-left: 0;
padding-left: 0;
margin-top: 20px;
}
.add-text{
font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 21px;
color: #0A061A;
margin-left: 10px;
}
.yellow-color{
    color: #D7AF48;

}
.green-color{
    color: #48D756;

}

.add-user-btn-container{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.add-agent-container{
width:300px;
height:54px;
border-radius: 10px;
border: 1px 0px 0px 0px;
text-align: center;
background-color: #0F8BFD;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}
.add-widget-btn{
width:300px;
height:54px;
padding: 16px 47px 16px 47px;
border-radius: 10px;
border: 1px 0px 0px 0px;
text-align: center;
color:#0F8BFD ;
border: 1px solid #0F8BFD;
font-family: Inter;
font-size: 17.5px;
font-weight: 600;
border-style: dotted;
display: flex;
align-items: center;
justify-content: center;
margin-top: 10px;
}
.add-agent-text{
color: #ffffff;
font-family: Inter;
font-size: 17.5px;
font-weight: 600;
padding-left: 10px;

}